.container {
    display: grid;
    grid-template-areas: 'PieChart BarChart'
                         'LineChart BarChart';
    grid-template-columns: 464px 1fr;
    grid-template-rows: 326px 220px;
    gap: 24px;
    flex-grow: 1;
    padding-top: 40px;
    border-top: 1px solid var(--main-border);
}

@media (max-width: 1400px) {
    .container {
        grid-template-areas: 'BarChart'
                            'PieChart'
                            'LineChart';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

}