.fieldName {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12px;
    color: #2B3844;
}

.error {
    border-color: red;
}

.textError {
    min-height: 24px;
    /*position: absolute;*/
    margin: 0 0 5px 0;
    font-size: 12px;
    color: red;
}

.field {
    width: 100%;
    padding: 16px;
    opacity: 0.3;
    border: 1px solid #354352;
    border-radius: 3px;
    font-size: 14px;
}
