.barChart {
    grid-area: BarChart;
    padding: 32px 32px 40px 32px;
    background-color: var(--background-diagrams);
}

.header {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1em;
}

.description {
    margin-bottom: 70px;
}

.barChart::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.barChart::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 100px;
    background-clip: content-box;
    border: 6px solid transparent;
}

@media (max-width: 600px) {
    .barChart {
        overflow: auto;
    }
}
