.containerEmail {
    width: 100%;
}

.containerPassword {
    width: 100%;
    margin-bottom: 10px;
}

.containerError {
    position: relative;
    top: -20px;
    width: 100%;
    font-size: 12px;
}

.containerButton {
    width: 100%;
    margin-bottom: 32px;
}

.haveAccountText {
    color: #2B3844;
}

.accountExist {
    position: absolute;
    color: red;
}

.button {
    width: 100%;
}