.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 8px;
}

.text {
    font-size: 14px;
    line-height: 14px;
    color: rgba(43, 56, 68, 0.7);
}
