.active {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 17px 0 17px 40px;
    color: #5382E7;
    text-decoration: none;
    background-color: rgba(83, 130, 231, 0.04);
    border-right: 2px solid #5382E7;
    font-size: 14px;
    line-height: 14px;
}

.noActive {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 17px 0 17px 40px;
    color: #2B3844;
    text-decoration: none;
    opacity: 0.4;
    font-size: 14px;
    line-height: 14px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 274px;
    padding: 40px 0 0 0;
}

.sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.wrapperButton {
    padding: 48px 0 48px 0;
    border-top: 1px solid #E8EBEF;
}

.wrapperPadding {
    padding: 0 40px;
}

.background {
    width: 100%;
    height: 26px;
    margin-bottom: 82px;
    padding: 0 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../../assets/img/logo.png");
}

a[aria-current="page"] .activeLogo {
    fill: #5382E7;
}

.button {
    display: flex;
    align-items: center;
    gap: 9px;
    border: none;
    background: none;
    opacity: 0.4;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
}

.burgerMenu {
    display: none;
}

@media (max-width: 920px) {
    .sidebar {
        padding-inline: 56px;
        padding-bottom: 40px;
        gap: 20px;
        display: grid;
        grid-template-areas: 'logo logOut'
                            'nav nav';
    }

    .wrapperButton {
        border: 0;
        padding: 0;
    }

    .sections {
        grid-area: nav;
        flex-direction: row;
        gap: 30px;
        border-bottom: 1px solid #E8EBEF;
    }

    .wrapperPadding {
        grid-area: logOut;
        justify-self: end;
        padding: 0;
    }

    .background {
        margin-bottom: 0;
        padding: 0;
        background-position: left;
        grid-area: logo;
    }

    .active {
        padding-inline: 10px;
        border-right: 0;
        border-bottom: 2px solid #5382E7;
    }

    .noActive {
        padding-inline: 10px;
    }
}

@media (max-width: 720px) {
    .sidebar {
        grid-template-areas: 'burger logo logOut';
        grid-template-columns: 40px 1fr 90px;
        align-items: center;
    }

    .sections {
        display: none;
    }

    .burgerMenu {
        display: block;
        grid-area: burger;
    }
}
