:root {
  --scroll-color: rgba(169, 169, 169, 0.4)
}

@font-face {
  font-family: "InterRegular";
  src: url("./assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "InterMedium";
  src: url("./assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "InterBold";
  src: url("./assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "InterRegular", sans-serif;
  height: 100vh;
  color: #2B3844;
  font-size: 14px;
  line-height: 14px;
}

body,
p,
h1,
h2,
ul {
  margin: 0;
}

#root {
  height: 100%;
}