.containerPassword {
    width: 100%;
    margin-bottom: 10px;
}

.containerInput {
    width: 100%;
}

.containerError {
    position: relative;
    top: -20px;
    width: 100%;
    font-size: 12px;
}

.containerFullName {
    display: flex;
    gap: 16px;
}

.alreadyHaveAccount {
    color: #2B3844;
}

.accountExists {
    position: absolute;
    color: red;
}
